.club-model{
  display: block;
  position: fixed;
  z-index: 999;
  left: 10%;
  height: 80%;
  width: 80%;
  overflow: auto;
  background-color: lightgrey;
}

.club-model__content{
  //background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
 // border: 1px solid #888;
}
