.club-card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  border: 1px solid lightgrey;
  height: 305px;
  width: 317px;

  @media (max-width: 850px) {
    width: 250px;
    height: 305px;
  }
}

.club-card__header {
  height: 45px;
  display: flex;
  flex-direction: row;
  padding: 16px 16px 55px;
}

.club-card__club-icon {
  border-radius: 15px;
  height: 60px;
  width: 60px;
}

.club-card__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 16px 16px;
}

.club-card__description {
  flex: 1;
  color: grey;
  overflow-wrap: break-word;
  margin-bottom: auto;
}

.club-card__name {
  color: darkgray;
}

.club-card__additional-information__item,
.club-card__name, {
  margin-bottom: 8px;
}

.club-card__description,
.club-card__additional-information {
  font-weight: normal;
  color: grey;
}

.club-card__additional-information__row{
  display: flex;
  justify-content: space-between;
}

.club-card__additional-information__button{
  justify-content: center;
  display: flex;
}

.club-card__bold-text{
  font-weight: bold;
}
