.p-home{
  display: flex;
  height: 90%;
  width: 100%;
  flex-direction: column;
  margin: 80px 0 35px 0;
}

.homeContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
}

.homeContainer-information{
  flex: auto;
}

.homeContainer-register{
  flex: auto;
  overflow: auto;
}

.homeFooter{
  bottom: 12px;
  position: fixed;
  width: 100%;
}
