.p-home{
  display: flex;
  height: auto;
  width: auto;
  flex-direction: column;
}

.homeContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
}

.homeContainer-information{
  flex: auto;
}

.homeContainer-register{
  flex: auto;
  overflow: auto;
}

.homeFooter{
  bottom: 12px;
  position: fixed;
  width: 100%;
}
