.registerContainer{
  display: flex;
  flex-direction: column;
  //width: 100%;
  //height: 100%;
}

.registerContainer-row{
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.registerContainer-btn{
  display: flex;
  margin: auto;
}

.registerContainer-row-radio{
  display: flex;
  padding: 5px 0px 5px 0px;
  margin: auto;

}

.registerInput{
  width: 100%;
}
